:root {
  --background-color-1: white;
  --background-color-2: lightgray;
  --text-color: black;
  --link-color: blue;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background-color-1: #2b2b2b;
    --background-color-2: #202020;
    --text-color: white;
    --link-color: blue;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
}
body .page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body .page-container .content-wrap {
  flex: 1;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 1rem;
}

.screen-margins {
  margin-left: 5%;
  margin-right: 5%;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
